pedrog_practica_nifi.json
{"flowContents":{"identifier":"81372cb3-af6b-399a-aa8f-f2eb6ca3aa48","instanceIdentifier":"25eb3e12-018f-1000-e31a-a83c18e80266","name":"pedrog_practica_nifi","comments":"","position":{"x":525.0,"y":174.0},"processGroups":[{"identifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f","instanceIdentifier":"d78dcca9-45a9-3b4e-3d59-d585263c789e","name":"GR01_Descargar_CSV_y_Convertir_a_JSON","comments":"","position":{"x":-280.0,"y":168.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a4d11236-69a6-3e4a-8c69-157515fcfaa1","instanceIdentifier":"2f4942a7-d415-3de1-0d99-041177693b16","name":"Escribir el archivo CSV a directorio","comments":"","position":{"x":768.0,"y":488.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/data/datos_practica/","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#6e3f3f"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"},{"identifier":"59e2655c-58a1-360a-84d3-f9d14d1ed858","instanceIdentifier":"d46cfb54-1752-35cb-a48e-ee0d36a2b47a","name":"Log de Mensajes","comments":"","position":{"x":1352.0,"y":936.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#eb1d1a"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"},{"identifier":"77e65b65-b5d6-3de0-8200-2f9028192aad","instanceIdentifier":"702a4397-57d3-3cbe-3a43-0aa2b7a460c1","name":"Poner el nombre al archivo JSON","comments":"","position":{"x":432.0,"y":1160.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M2"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:replaceAll('(.*)\\\\.csv', '$1.json')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#2f68d4"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"},{"identifier":"2e1fde27-13a8-38a1-b4e1-74d88b175a46","instanceIdentifier":"07f2f2ff-f055-330e-024d-ab2d0dc3bec7","name":"Escribir el archivo JSON a directorio","comments":"","position":{"x":432.0,"y":1376.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/data/datos_practica/","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#6e3f3f"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"},{"identifier":"61d643e8-a616-3e70-aa8f-0c3d23ba4cad","instanceIdentifier":"78687847-0c94-3b72-2928-fd19339929f1","name":"Descargar dede una url","comments":"","position":{"x":488.0,"y":-96.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://raw.githubusercontent.com/pedrokkdownload/nifi_practica/main/tweets_data.csv","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#336947"},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"},{"identifier":"67d51f7c-c712-378b-bb54-d87a572f48d9","instanceIdentifier":"414e0801-36e3-3f8c-d888-99a28b4f08c7","name":"Actualizar el nombre del archivo","comments":"","position":{"x":488.0,"y":128.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M2"},"properties":{"Delete Attributes Expression":null,"filename":"tweets_data_desde_url.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#2f68d4"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"},{"identifier":"392d06c4-40e8-3999-966a-ccf3aeaba579","instanceIdentifier":"936c0bb5-8093-3641-2635-c97968c29936","name":"Convertir CSV a JSON","comments":"","position":{"x":432.0,"y":936.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Include Zero Record FlowFiles":"false","Record Writer":"12decfcd-1de0-394b-9620-fc8d945fb9dc","Record Reader":"b0361e11-3466-3dfc-8bef-4f368f677505"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#e6b135"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"},{"identifier":"0e645292-7a4c-3948-bf04-7cab14d4db6d","instanceIdentifier":"c13588b1-7fb3-3b7b-94c2-a212e405b4a0","name":"Poner los atributos del esquema ","comments":"","position":{"x":432.0,"y":704.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","schema.name":"esquema_tweets","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#933aba"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"8155bd6c-0e17-3325-bf10-3635bd2911f2","instanceIdentifier":"65c2cede-6a4d-3da5-dc54-2a36099a1c80","name":"","source":{"id":"a4d11236-69a6-3e4a-8c69-157515fcfaa1","type":"PROCESSOR","groupId":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f","name":"Escribir el archivo CSV a directorio","comments":"","instanceIdentifier":"2f4942a7-d415-3de1-0d99-041177693b16"},"destination":{"id":"59e2655c-58a1-360a-84d3-f9d14d1ed858","type":"PROCESSOR","groupId":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f","name":"Log de Mensajes","comments":"","instanceIdentifier":"d46cfb54-1752-35cb-a48e-ee0d36a2b47a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1368.0,"y":552.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"},{"identifier":"efbb6013-849e-3afb-9723-d45d625a1348","instanceIdentifier":"5614a583-def5-372b-3e56-ea1857f73151","name":"","source":{"id":"61d643e8-a616-3e70-aa8f-0c3d23ba4cad","type":"PROCESSOR","groupId":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f","name":"Descargar dede una url","comments":"","instanceIdentifier":"78687847-0c94-3b72-2928-fd19339929f1"},"destination":{"id":"59e2655c-58a1-360a-84d3-f9d14d1ed858","type":"PROCESSOR","groupId":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f","name":"Log de Mensajes","comments":"","instanceIdentifier":"d46cfb54-1752-35cb-a48e-ee0d36a2b47a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1464.0,"y":-32.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"},{"identifier":"9dd6fd86-8543-3451-825c-6dc5b50f97e0","instanceIdentifier":"7ad68bc9-f840-33bd-068a-b97d01086683","name":"","source":{"id":"392d06c4-40e8-3999-966a-ccf3aeaba579","type":"PROCESSOR","groupId":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f","name":"Convertir CSV a JSON","comments":"","instanceIdentifier":"936c0bb5-8093-3641-2635-c97968c29936"},"destination":{"id":"59e2655c-58a1-360a-84d3-f9d14d1ed858","type":"PROCESSOR","groupId":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f","name":"Log de Mensajes","comments":"","instanceIdentifier":"d46cfb54-1752-35cb-a48e-ee0d36a2b47a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"},{"identifier":"a21344c4-32cf-3843-b068-58cb9ef7da59","instanceIdentifier":"c46c426b-28c1-3971-9bdc-6f3703d2e761","name":"","source":{"id":"2e1fde27-13a8-38a1-b4e1-74d88b175a46","type":"PROCESSOR","groupId":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f","name":"Escribir el archivo JSON a directorio","comments":"","instanceIdentifier":"07f2f2ff-f055-330e-024d-ab2d0dc3bec7"},"destination":{"id":"59e2655c-58a1-360a-84d3-f9d14d1ed858","type":"PROCESSOR","groupId":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f","name":"Log de Mensajes","comments":"","instanceIdentifier":"d46cfb54-1752-35cb-a48e-ee0d36a2b47a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1400.0,"y":1440.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"},{"identifier":"48497fbd-7e07-37c4-ae10-babfd2cb2f84","instanceIdentifier":"e536be39-62f6-3c56-7626-0a893537fee6","name":"","source":{"id":"67d51f7c-c712-378b-bb54-d87a572f48d9","type":"PROCESSOR","groupId":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f","name":"Actualizar el nombre del archivo","comments":"","instanceIdentifier":"414e0801-36e3-3f8c-d888-99a28b4f08c7"},"destination":{"id":"0e645292-7a4c-3948-bf04-7cab14d4db6d","type":"PROCESSOR","groupId":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f","name":"Poner los atributos del esquema ","comments":"","instanceIdentifier":"c13588b1-7fb3-3b7b-94c2-a212e405b4a0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":608.0,"y":336.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"},{"identifier":"2e4405e6-c985-394a-be43-dc8ea98a6e2e","instanceIdentifier":"2207569e-47e1-39b9-72ac-ca4fd1dd9611","name":"","source":{"id":"61d643e8-a616-3e70-aa8f-0c3d23ba4cad","type":"PROCESSOR","groupId":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f","name":"Descargar dede una url","comments":"","instanceIdentifier":"78687847-0c94-3b72-2928-fd19339929f1"},"destination":{"id":"67d51f7c-c712-378b-bb54-d87a572f48d9","type":"PROCESSOR","groupId":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f","name":"Actualizar el nombre del archivo","comments":"","instanceIdentifier":"414e0801-36e3-3f8c-d888-99a28b4f08c7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"},{"identifier":"d6107624-766f-3d9c-b949-4cbf98b22b05","instanceIdentifier":"9f6d100a-d57e-3a6a-cbd2-ad0162b712d9","name":"","source":{"id":"67d51f7c-c712-378b-bb54-d87a572f48d9","type":"PROCESSOR","groupId":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f","name":"Actualizar el nombre del archivo","comments":"","instanceIdentifier":"414e0801-36e3-3f8c-d888-99a28b4f08c7"},"destination":{"id":"a4d11236-69a6-3e4a-8c69-157515fcfaa1","type":"PROCESSOR","groupId":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f","name":"Escribir el archivo CSV a directorio","comments":"","instanceIdentifier":"2f4942a7-d415-3de1-0d99-041177693b16"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":944.0,"y":336.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"},{"identifier":"10f817f7-31db-3819-8a2f-6ded6f1b66c1","instanceIdentifier":"4e18931b-508f-391c-23a4-b62eec07e7f0","name":"","source":{"id":"392d06c4-40e8-3999-966a-ccf3aeaba579","type":"PROCESSOR","groupId":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f","name":"Convertir CSV a JSON","comments":"","instanceIdentifier":"936c0bb5-8093-3641-2635-c97968c29936"},"destination":{"id":"77e65b65-b5d6-3de0-8200-2f9028192aad","type":"PROCESSOR","groupId":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f","name":"Poner el nombre al archivo JSON","comments":"","instanceIdentifier":"702a4397-57d3-3cbe-3a43-0aa2b7a460c1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"},{"identifier":"9ada178f-eba3-3d72-838d-3814c4ab2003","instanceIdentifier":"5d8647d8-9f23-3215-8ec7-98b4f77264f9","name":"","source":{"id":"77e65b65-b5d6-3de0-8200-2f9028192aad","type":"PROCESSOR","groupId":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f","name":"Poner el nombre al archivo JSON","comments":"","instanceIdentifier":"702a4397-57d3-3cbe-3a43-0aa2b7a460c1"},"destination":{"id":"2e1fde27-13a8-38a1-b4e1-74d88b175a46","type":"PROCESSOR","groupId":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f","name":"Escribir el archivo JSON a directorio","comments":"","instanceIdentifier":"07f2f2ff-f055-330e-024d-ab2d0dc3bec7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"},{"identifier":"e6ee7eba-a141-35c0-97b4-2e4ccf4376d0","instanceIdentifier":"af0a70a6-15e8-3dbb-0e1a-727111eecc12","name":"","source":{"id":"0e645292-7a4c-3948-bf04-7cab14d4db6d","type":"PROCESSOR","groupId":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f","name":"Poner los atributos del esquema ","comments":"","instanceIdentifier":"c13588b1-7fb3-3b7b-94c2-a212e405b4a0"},"destination":{"id":"392d06c4-40e8-3999-966a-ccf3aeaba579","type":"PROCESSOR","groupId":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f","name":"Convertir CSV a JSON","comments":"","instanceIdentifier":"936c0bb5-8093-3641-2635-c97968c29936"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"}],"labels":[{"identifier":"00045d97-e7c1-3375-bd30-52d6fa419a10","instanceIdentifier":"02cf850d-f7c8-3fa9-0cbd-e2c009190534","position":{"x":800.0,"y":1136.0},"label":"Cambiamos en el nombre del archivo la extensión CSV por JSON","zIndex":0,"width":368.0,"height":48.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"},{"identifier":"d02b6a85-836a-3f29-ba78-e1dd284b480e","instanceIdentifier":"0828a4e5-9ca5-3f9a-79fe-490e9acd45a0","position":{"x":856.0,"y":112.0},"label":"Actualizamos el nombre del fichero descargado con el atributo filename","zIndex":0,"width":544.0,"height":48.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"},{"identifier":"e00560c6-48b3-3314-94b4-b8c619b641a2","instanceIdentifier":"596a3898-bc38-3086-16b9-3724558b6af0","position":{"x":360.0,"y":1368.0},"label":"*(4)","zIndex":0,"width":64.0,"height":48.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"},{"identifier":"8728f687-33d8-30fd-964b-f5af21ac13c7","instanceIdentifier":"3a73e83d-d852-3495-151b-349fe730623b","position":{"x":1296.0,"y":1080.0},"label":"Gestión de errores","zIndex":0,"width":184.0,"height":24.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"},{"identifier":"4a7ca59c-c41e-3262-bf6e-a4980ec2d547","instanceIdentifier":"0b899e2d-e5b4-3669-d7fd-5ffd632e092c","position":{"x":800.0,"y":920.0},"label":"Convertimos el archivo del formato CSV al formato JSON","zIndex":0,"width":336.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"},{"identifier":"b69b24d8-ca18-3d0f-a51e-47dca62b7b36","instanceIdentifier":"60cbae41-8259-3b09-8023-39b28602c797","position":{"x":360.0,"y":928.0},"label":"*(3)","zIndex":0,"width":64.0,"height":48.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"},{"identifier":"31d041fd-c762-3296-b9cf-cde4436bc735","instanceIdentifier":"93f309a5-4cd4-33b3-7715-e018c63d57a9","position":{"x":696.0,"y":480.0},"label":"*(2)","zIndex":0,"width":64.0,"height":48.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"},{"identifier":"b20eb9c3-6abc-3125-839a-aeccff8f24a5","instanceIdentifier":"f6cc5da9-915e-38d8-6560-d6aed1cd5f93","position":{"x":856.0,"y":-112.0},"label":"Descargamos el fichero tweets_data.csv desde una url\nhttps://raw.githubusercontent.com/pedrokkdownload/nifi_practica/main/tweets_data.csv","zIndex":0,"width":544.0,"height":48.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"},{"identifier":"a1569275-53cb-3495-ba88-09bc09c8291b","instanceIdentifier":"95202c7e-1a04-386f-69d6-0512f575d569","position":{"x":1136.0,"y":464.0},"label":"Escribimos el fichero CSV en el directorio local","zIndex":0,"width":280.0,"height":48.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"},{"identifier":"40c4fdd2-4d64-363d-b9dd-ff01fe62f3bf","instanceIdentifier":"ddc4dd88-84d7-3b87-daa5-6f2a5d48c454","position":{"x":800.0,"y":688.0},"label":"Ponemos los atributos del esquema (metadatos) para que luego podamos entender \nel esquema con el que procesar los datos\nschema.name=\"esquema_tweets\"\n","zIndex":0,"width":544.0,"height":48.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"},{"identifier":"f29befec-6d14-397b-8a56-383f35d2f82d","instanceIdentifier":"9679c10d-05e2-3a7b-c22d-774100249af2","position":{"x":800.0,"y":1360.0},"label":"Escribimos el fichero JSON en el directorio local","zIndex":0,"width":384.0,"height":48.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"},{"identifier":"0f688d91-91a6-3e13-9c44-f1a7a069b6e8","instanceIdentifier":"2745a433-3ded-3bce-79db-f0e39f6f20b7","position":{"x":384.0,"y":-264.0},"label":"*(1). Descargamos un archivo CSV desde una url \n*(2). Almacenamos el archivo CSV en un directorio local\n*(3). Convertimos el archivo CSV a JSON\n*(4). Almacenamos el archivo JSON en un directorio local\n\n","zIndex":0,"width":1000.0,"height":136.0,"style":{"font-size":"22px"},"componentType":"LABEL","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"},{"identifier":"a2c005cb-1dd2-3b19-8f37-f0824934ebb4","instanceIdentifier":"a722b86c-e491-3d59-c83c-b69d999f578d","position":{"x":416.0,"y":-104.0},"label":"*(1)","zIndex":0,"width":64.0,"height":48.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"}],"funnels":[],"controllerServices":[{"identifier":"d5021dc4-79f0-3604-a005-7e6b0d746a81","instanceIdentifier":"a123f1cf-14d3-33bb-c323-8660c2f81b74","name":"AvroSchemaRegistry_GR01","comments":"","type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-registry-nar","version":"2.0.0-M2"},"properties":{"esquema_tweets":"{\n  \"type\": \"record\",\n  \"name\": \"Record\",\n  \"fields\": [\n    {\n      \"name\": \"tweet_id\",\n      \"type\": \"long\"\n    },\n    {\n      \"name\": \"airline_sentiment\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"airline_sentiment_confidence\",\n      \"type\": \"double\"\n    },\n    {\n      \"name\": \"negativereason\",\n      \"type\": [\n        \"null\",\n        \"string\"\n      ]\n    },\n    {\n      \"name\": \"negativereason_confidence\",\n      \"type\": [\n        \"null\",\n        \"string\"\n      ]\n    },\n    {\n      \"name\": \"airline\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"airline_sentiment_gold\",\n      \"type\": [\n        \"null\",\n        \"string\"\n      ]\n    },\n    {\n      \"name\": \"name\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"negativereason_gold\",\n      \"type\": [\n        \"null\",\n        \"string\"\n      ]\n    },\n    {\n      \"name\": \"retweet_count\",\n      \"type\": \"long\"\n    },\n    {\n      \"name\": \"text\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"tweet_coord\",\n      \"type\": [\n        \"null\",\n        \"string\"\n      ]\n    },\n    {\n      \"name\": \"tweet_created\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"tweet_location\",\n      \"type\": [\n        \"null\",\n        \"string\"\n      ]\n    },\n    {\n      \"name\": \"user_timezone\",\n      \"type\": [\n        \"null\",\n        \"string\"\n      ]\n    }\n  ]\n}","avro-reg-validated-field-names":"true"},"propertyDescriptors":{"esquema_tweets":{"name":"esquema_tweets","displayName":"esquema_tweets","identifiesControllerService":false,"sensitive":false,"dynamic":true},"avro-reg-validated-field-names":{"name":"avro-reg-validated-field-names","displayName":"Validate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"},{"identifier":"12decfcd-1de0-394b-9620-fc8d945fb9dc","instanceIdentifier":"f256a667-ae8c-3870-62d4-ed70bf3a5d4b","name":"JsonRecordSetWriter_GR01","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M2"},"properties":{"schema-reference-reader":null,"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"true","compression-format":"none","Schema Write Strategy":"schema-name","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":"d5021dc4-79f0-3604-a005-7e6b0d746a81","Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"},{"identifier":"b57e6086-2513-325c-b4c8-fbf44d66310a","instanceIdentifier":"ba91996f-494b-396b-4794-7df632580f10","name":"AvroReader_GR01","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M2"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"},{"identifier":"b0361e11-3466-3dfc-8bef-4f368f677505","instanceIdentifier":"bffd7895-91f2-3376-dec5-0cd22f628a5a","name":"CSVReader_GR01","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M2"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":"d5021dc4-79f0-3604-a005-7e6b0d746a81","csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-name","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e56a4dea-dbe0-3911-9242-56a41f9bbc2f"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"81372cb3-af6b-399a-aa8f-f2eb6ca3aa48"},{"identifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1","instanceIdentifier":"0e63f217-ea61-3a20-2657-b5bc82f9bc23","name":"GR02_JSON_a_Postgres_y_a_Mongo_y_a_MySQL","comments":"","position":{"x":-280.0,"y":392.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"862d59cf-8bf3-3d67-a19c-c900de147e4f","instanceIdentifier":"fe8166df-8b7b-3e4e-d195-0924268ea148","name":"Crear tabla en Postgres","comments":"","position":{"x":112.0,"y":-408.0},"type":"org.apache.nifi.processors.standard.UpdateDatabaseTable","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"updatedatabasetable-table-name":"tweets","updatedatabasetable-query-timeout":"0","updatedatabasetable-create-table":"Create If Not Exists","updatedatabasetable-update-field-names":"false","updatedatabasetable-quoted-column-identifiers":"false","updatedatabasetable-schema-name":"public","updatedatabasetable-dbcp-service":"cdae3887-ef67-349a-8bac-2ad56526ed3b","updatedatabasetable-translate-field-names":"true","updatedatabasetable-catalog-name":null,"updatedatabasetable-primary-keys":null,"db-type":"PostgreSQL","record-reader":"3f9ba1bb-f254-381f-ba79-4e0cba46fe4c","updatedatabasetable-quoted-table-identifiers":"false","updatedatabasetable-record-writer":null},"propertyDescriptors":{"updatedatabasetable-table-name":{"name":"updatedatabasetable-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-query-timeout":{"name":"updatedatabasetable-query-timeout","displayName":"Query Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-create-table":{"name":"updatedatabasetable-create-table","displayName":"Create Table Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-update-field-names":{"name":"updatedatabasetable-update-field-names","displayName":"Update Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-quoted-column-identifiers":{"name":"updatedatabasetable-quoted-column-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-schema-name":{"name":"updatedatabasetable-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-dbcp-service":{"name":"updatedatabasetable-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"updatedatabasetable-translate-field-names":{"name":"updatedatabasetable-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-catalog-name":{"name":"updatedatabasetable-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-primary-keys":{"name":"updatedatabasetable-primary-keys","displayName":"Primary Key Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"updatedatabasetable-quoted-table-identifiers":{"name":"updatedatabasetable-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-record-writer":{"name":"updatedatabasetable-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#2f68d4"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"c7a904ba-d0bb-3d7e-85c9-209648ef07f0","instanceIdentifier":"e034e5a6-7d3f-368e-e6ed-37b3c84a5d2a","name":"Log de Mensajes","comments":"","position":{"x":944.0,"y":672.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#eb1d1a"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"f4b6745b-2179-330b-8540-951daab093f3","instanceIdentifier":"2916fea5-20fe-3d59-9a91-59ebf7a430c2","name":"Crear tabla en MySQL","comments":"","position":{"x":112.0,"y":-128.0},"type":"org.apache.nifi.processors.standard.UpdateDatabaseTable","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"updatedatabasetable-table-name":"tweets","updatedatabasetable-query-timeout":"0","updatedatabasetable-create-table":"Create If Not Exists","updatedatabasetable-update-field-names":"false","updatedatabasetable-quoted-column-identifiers":"false","updatedatabasetable-schema-name":"mysql","updatedatabasetable-dbcp-service":"bc2eee3f-e57e-38a2-8220-24a14f29788f","updatedatabasetable-translate-field-names":"true","updatedatabasetable-catalog-name":null,"updatedatabasetable-primary-keys":null,"db-type":"MySQL","record-reader":"3f9ba1bb-f254-381f-ba79-4e0cba46fe4c","updatedatabasetable-quoted-table-identifiers":"false","updatedatabasetable-record-writer":null},"propertyDescriptors":{"updatedatabasetable-table-name":{"name":"updatedatabasetable-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-query-timeout":{"name":"updatedatabasetable-query-timeout","displayName":"Query Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-create-table":{"name":"updatedatabasetable-create-table","displayName":"Create Table Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-update-field-names":{"name":"updatedatabasetable-update-field-names","displayName":"Update Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-quoted-column-identifiers":{"name":"updatedatabasetable-quoted-column-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-schema-name":{"name":"updatedatabasetable-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-dbcp-service":{"name":"updatedatabasetable-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"updatedatabasetable-translate-field-names":{"name":"updatedatabasetable-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-catalog-name":{"name":"updatedatabasetable-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-primary-keys":{"name":"updatedatabasetable-primary-keys","displayName":"Primary Key Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"updatedatabasetable-quoted-table-identifiers":{"name":"updatedatabasetable-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-record-writer":{"name":"updatedatabasetable-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#2f68d4"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"eb64f271-3a0f-3127-9e51-3044a5b18f2a","instanceIdentifier":"178abe37-30a7-32f4-c7fb-6645479157c5","name":"Insertar datos en MySQL","comments":"","position":{"x":504.0,"y":368.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":"mysql","put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"bc2eee3f-e57e-38a2-8220-24a14f29788f","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"INSERT","db-type":"MySQL","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"tweets","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":"3f9ba1bb-f254-381f-ba79-4e0cba46fe4c","Data Record Path":null},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#6e3f3f"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":16,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"b7696fdc-2e25-375b-a5fb-5d2bbf82b888","instanceIdentifier":"b5472fc2-a701-35b9-eeac-618a9e1e72fb","name":"Splitear","comments":"","position":{"x":112.0,"y":152.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Record Writer":"9d33b92e-8463-34a5-a2df-a34adef5d0b5","Record Reader":"3f9ba1bb-f254-381f-ba79-4e0cba46fe4c","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#e6b135"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"eecc6e71-cc2a-3860-8795-c80d7b31b59c","instanceIdentifier":"394d6a93-a258-300d-403e-c37153de91ad","name":"GetFile","comments":"","position":{"x":112.0,"y":-664.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/data/datos_practica/","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"tweets_data_desde_url.json","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#336947"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"5a89b6be-bca5-3d17-80f5-34cc60ea7642","instanceIdentifier":"e2297ff6-da8f-3d6c-2602-3a6966b6e262","name":"Log de Mensajes","comments":"","position":{"x":-648.0,"y":672.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#eb1d1a"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"3938b181-d4bf-32eb-8972-7bd73a65da76","instanceIdentifier":"14e6d260-e9b6-3e63-8dc8-eba301724431","name":"Insertar datos en Mongo","comments":"","position":{"x":112.0,"y":672.0},"type":"org.apache.nifi.processors.mongodb.PutMongoRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-nar","version":"2.0.0-M2"},"properties":{"mongo-client-service":"1ac44b4b-429b-3422-9cd6-52d29fb90f27","ordered":"False","insert_count":"100","update-key-fields":null,"Mongo Collection Name":"tweets","update-mode":"one","record-reader":"3f9ba1bb-f254-381f-ba79-4e0cba46fe4c","bypass-validation":"False","Mongo Database Name":"practica"},"propertyDescriptors":{"mongo-client-service":{"name":"mongo-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ordered":{"name":"ordered","displayName":"Ordered","identifiesControllerService":false,"sensitive":false,"dynamic":false},"insert_count":{"name":"insert_count","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"update-key-fields":{"name":"update-key-fields","displayName":"Update Key Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mongo Collection Name":{"name":"Mongo Collection Name","displayName":"Mongo Collection Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"update-mode":{"name":"update-mode","displayName":"Update Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"bypass-validation":{"name":"bypass-validation","displayName":"Bypass Validation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mongo Database Name":{"name":"Mongo Database Name","displayName":"Mongo Database Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#6e3f3f"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":16,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"caae6603-f2d2-3ac1-88e5-0cd0f8a90f20","instanceIdentifier":"270bb737-8eb0-3ba3-0913-49536a584d2a","name":"Insertar datos en Postgres","comments":"","position":{"x":-272.0,"y":368.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":"public","put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"cdae3887-ef67-349a-8bac-2ad56526ed3b","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"INSERT","db-type":"PostgreSQL","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"tweets","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":"3f9ba1bb-f254-381f-ba79-4e0cba46fe4c","Data Record Path":null},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#6e3f3f"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":16,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"1e818362-2e8b-32eb-a984-a71d448ee4de","instanceIdentifier":"2ffd0f5d-c222-309e-7de6-9e934f321059","name":"","source":{"id":"eecc6e71-cc2a-3860-8795-c80d7b31b59c","type":"PROCESSOR","groupId":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1","name":"GetFile","comments":"","instanceIdentifier":"394d6a93-a258-300d-403e-c37153de91ad"},"destination":{"id":"862d59cf-8bf3-3d67-a19c-c900de147e4f","type":"PROCESSOR","groupId":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1","name":"Crear tabla en Postgres","comments":"","instanceIdentifier":"fe8166df-8b7b-3e4e-d195-0924268ea148"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"0e36d904-fd58-3eb0-bab7-c4905c4e8cc3","instanceIdentifier":"88bc78ae-8844-395a-cad6-b980ae44fba0","name":"","source":{"id":"862d59cf-8bf3-3d67-a19c-c900de147e4f","type":"PROCESSOR","groupId":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1","name":"Crear tabla en Postgres","comments":"","instanceIdentifier":"fe8166df-8b7b-3e4e-d195-0924268ea148"},"destination":{"id":"5a89b6be-bca5-3d17-80f5-34cc60ea7642","type":"PROCESSOR","groupId":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1","name":"Log de Mensajes","comments":"","instanceIdentifier":"e2297ff6-da8f-3d6c-2602-3a6966b6e262"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-448.0,"y":-344.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"c0a195ae-4d9f-3694-9817-17dc9849398c","instanceIdentifier":"e825a79f-d1a3-3eec-5f98-c14ccd5c1a66","name":"","source":{"id":"b7696fdc-2e25-375b-a5fb-5d2bbf82b888","type":"PROCESSOR","groupId":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1","name":"Splitear","comments":"","instanceIdentifier":"b5472fc2-a701-35b9-eeac-618a9e1e72fb"},"destination":{"id":"c7a904ba-d0bb-3d7e-85c9-209648ef07f0","type":"PROCESSOR","groupId":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1","name":"Log de Mensajes","comments":"","instanceIdentifier":"e034e5a6-7d3f-368e-e6ed-37b3c84a5d2a"},"labelIndex":0,"zIndex":1,"selectedRelationships":["original","failure"],"backPressureObjectThreshold":20000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":984.0,"y":216.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"9e22a26e-f2f0-3aa9-9718-b56847ba6112","instanceIdentifier":"e52e5a3a-ee6e-32a9-3a82-1d5a3819aa65","name":"","source":{"id":"f4b6745b-2179-330b-8540-951daab093f3","type":"PROCESSOR","groupId":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1","name":"Crear tabla en MySQL","comments":"","instanceIdentifier":"2916fea5-20fe-3d59-9a91-59ebf7a430c2"},"destination":{"id":"c7a904ba-d0bb-3d7e-85c9-209648ef07f0","type":"PROCESSOR","groupId":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1","name":"Log de Mensajes","comments":"","instanceIdentifier":"e034e5a6-7d3f-368e-e6ed-37b3c84a5d2a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1040.0,"y":-64.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"1622ea5a-7c27-307d-a501-5f316a7020ed","instanceIdentifier":"51ca7397-00c5-3b32-e30f-a0358b0ffd97","name":"","source":{"id":"f4b6745b-2179-330b-8540-951daab093f3","type":"PROCESSOR","groupId":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1","name":"Crear tabla en MySQL","comments":"","instanceIdentifier":"2916fea5-20fe-3d59-9a91-59ebf7a430c2"},"destination":{"id":"b7696fdc-2e25-375b-a5fb-5d2bbf82b888","type":"PROCESSOR","groupId":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1","name":"Splitear","comments":"","instanceIdentifier":"b5472fc2-a701-35b9-eeac-618a9e1e72fb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"03a1f14f-2ecc-3aba-bdf2-92c19a1f30bc","instanceIdentifier":"38cde503-b9b3-3011-4649-e270fc9fa558","name":"","source":{"id":"3938b181-d4bf-32eb-8972-7bd73a65da76","type":"PROCESSOR","groupId":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1","name":"Insertar datos en Mongo","comments":"","instanceIdentifier":"14e6d260-e9b6-3e63-8dc8-eba301724431"},"destination":{"id":"643cbb82-274e-3084-b2a3-bace785b82f8","type":"FUNNEL","groupId":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1","name":"Funnel","comments":"","instanceIdentifier":"3aa09df1-8bce-36fa-2b95-91780ad89be1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":20000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"b1f512f7-2884-3217-8ec9-81f4ac43531d","instanceIdentifier":"ab85b209-5969-3533-3a2f-225968bf22b6","name":"","source":{"id":"b7696fdc-2e25-375b-a5fb-5d2bbf82b888","type":"PROCESSOR","groupId":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1","name":"Splitear","comments":"","instanceIdentifier":"b5472fc2-a701-35b9-eeac-618a9e1e72fb"},"destination":{"id":"3938b181-d4bf-32eb-8972-7bd73a65da76","type":"PROCESSOR","groupId":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1","name":"Insertar datos en Mongo","comments":"","instanceIdentifier":"14e6d260-e9b6-3e63-8dc8-eba301724431"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":20000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"b509527f-7c9c-319c-8adb-025a8596f16a","instanceIdentifier":"c367e641-6bc5-3f18-1ffd-7cc60c03955d","name":"","source":{"id":"b7696fdc-2e25-375b-a5fb-5d2bbf82b888","type":"PROCESSOR","groupId":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1","name":"Splitear","comments":"","instanceIdentifier":"b5472fc2-a701-35b9-eeac-618a9e1e72fb"},"destination":{"id":"eb64f271-3a0f-3127-9e51-3044a5b18f2a","type":"PROCESSOR","groupId":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1","name":"Insertar datos en MySQL","comments":"","instanceIdentifier":"178abe37-30a7-32f4-c7fb-6645479157c5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":20000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"09ec2b82-6635-36a8-b0fd-a6a14a358f97","instanceIdentifier":"4549b4be-9ac3-37f1-5d7c-62cd0c5c4922","name":"","source":{"id":"eb64f271-3a0f-3127-9e51-3044a5b18f2a","type":"PROCESSOR","groupId":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1","name":"Insertar datos en MySQL","comments":"","instanceIdentifier":"178abe37-30a7-32f4-c7fb-6645479157c5"},"destination":{"id":"c7a904ba-d0bb-3d7e-85c9-209648ef07f0","type":"PROCESSOR","groupId":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1","name":"Log de Mensajes","comments":"","instanceIdentifier":"e034e5a6-7d3f-368e-e6ed-37b3c84a5d2a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure","retry"],"backPressureObjectThreshold":20000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":992.0,"y":432.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"b6ae3dea-25a7-3574-b9f6-07c24cb4a921","instanceIdentifier":"1d6b6899-f92f-3db7-e9d8-c91648a85d4d","name":"","source":{"id":"eb64f271-3a0f-3127-9e51-3044a5b18f2a","type":"PROCESSOR","groupId":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1","name":"Insertar datos en MySQL","comments":"","instanceIdentifier":"178abe37-30a7-32f4-c7fb-6645479157c5"},"destination":{"id":"d0fc0322-91a9-3efa-8a98-503da227170c","type":"FUNNEL","groupId":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1","name":"Funnel","comments":"","instanceIdentifier":"7e1bd246-1a15-3824-658a-3b306d074674"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":20000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"ea2c39cc-0b49-3cb3-9bf6-181c0fa99bb1","instanceIdentifier":"191e44a1-8ca0-3afa-4d67-f91fa7e687c1","name":"","source":{"id":"3938b181-d4bf-32eb-8972-7bd73a65da76","type":"PROCESSOR","groupId":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1","name":"Insertar datos en Mongo","comments":"","instanceIdentifier":"14e6d260-e9b6-3e63-8dc8-eba301724431"},"destination":{"id":"c7a904ba-d0bb-3d7e-85c9-209648ef07f0","type":"PROCESSOR","groupId":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1","name":"Log de Mensajes","comments":"","instanceIdentifier":"e034e5a6-7d3f-368e-e6ed-37b3c84a5d2a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":20000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"66f31186-02cd-3292-99ff-aea6aa6c4f81","instanceIdentifier":"8e49d672-2bc4-3dec-f988-54fbd6040132","name":"","source":{"id":"b7696fdc-2e25-375b-a5fb-5d2bbf82b888","type":"PROCESSOR","groupId":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1","name":"Splitear","comments":"","instanceIdentifier":"b5472fc2-a701-35b9-eeac-618a9e1e72fb"},"destination":{"id":"caae6603-f2d2-3ac1-88e5-0cd0f8a90f20","type":"PROCESSOR","groupId":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1","name":"Insertar datos en Postgres","comments":"","instanceIdentifier":"270bb737-8eb0-3ba3-0913-49536a584d2a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":20000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"0dd1f223-4928-34e3-9b79-88b4edd2ffd7","instanceIdentifier":"926a8cbf-5a8d-3276-542b-3a2675cc8532","name":"","source":{"id":"caae6603-f2d2-3ac1-88e5-0cd0f8a90f20","type":"PROCESSOR","groupId":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1","name":"Insertar datos en Postgres","comments":"","instanceIdentifier":"270bb737-8eb0-3ba3-0913-49536a584d2a"},"destination":{"id":"c0c98f69-0643-30df-8609-07327cced0ad","type":"FUNNEL","groupId":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1","name":"Funnel","comments":"","instanceIdentifier":"e17c06e3-d5c0-367b-2f1c-c979bd7fb670"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":20000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"662219b0-b584-3107-8fbb-b5c3b43f16ba","instanceIdentifier":"839bf962-60d5-3405-d75f-1330d153430d","name":"","source":{"id":"caae6603-f2d2-3ac1-88e5-0cd0f8a90f20","type":"PROCESSOR","groupId":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1","name":"Insertar datos en Postgres","comments":"","instanceIdentifier":"270bb737-8eb0-3ba3-0913-49536a584d2a"},"destination":{"id":"5a89b6be-bca5-3d17-80f5-34cc60ea7642","type":"PROCESSOR","groupId":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1","name":"Log de Mensajes","comments":"","instanceIdentifier":"e2297ff6-da8f-3d6c-2602-3a6966b6e262"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure","retry"],"backPressureObjectThreshold":20000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-400.0,"y":424.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"02b2f1e0-d69f-332f-a2f7-1dc474021c61","instanceIdentifier":"4a40b1a0-2cd1-344d-f1b6-d31203055f02","name":"","source":{"id":"862d59cf-8bf3-3d67-a19c-c900de147e4f","type":"PROCESSOR","groupId":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1","name":"Crear tabla en Postgres","comments":"","instanceIdentifier":"fe8166df-8b7b-3e4e-d195-0924268ea148"},"destination":{"id":"f4b6745b-2179-330b-8540-951daab093f3","type":"PROCESSOR","groupId":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1","name":"Crear tabla en MySQL","comments":"","instanceIdentifier":"2916fea5-20fe-3d59-9a91-59ebf7a430c2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"}],"labels":[{"identifier":"0c89ee62-641f-33ed-beff-89362a7d86bc","instanceIdentifier":"3722d753-dc54-396a-4de0-3534001e2f46","position":{"x":472.0,"y":128.0},"label":"Spliteamos el archivo JSON ","zIndex":0,"width":168.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"87d0b295-c4e1-3b37-a6a0-31461b204159","instanceIdentifier":"c3697105-b63a-3e54-8f83-82ccf198142d","position":{"x":40.0,"y":-144.0},"label":"*(3)","zIndex":0,"width":64.0,"height":48.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"78ea06bd-4d10-3aa4-a76b-708d389de159","instanceIdentifier":"8d2bd9c4-d63d-3acd-0e1e-f8db540d6369","position":{"x":-296.0,"y":320.0},"label":"Cargamos datos en la tabla tweets\nen Postgres","zIndex":0,"width":200.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"aa4180a2-b656-374e-9e8c-c9e1abcca77c","instanceIdentifier":"fe43f7e7-0199-34ef-3814-3059992ff652","position":{"x":-48.0,"y":-944.0},"label":"*(1). Cogemos el archivo JSON desde un directorio local\n*(2). Creamos la tabla tweets, si no existe, en Postgres\n*(3). Creamos la tabla tweets, si no existe, en MySQL\n*(4). Spliteamos el archivo JSON\n*(5). Cargamos los datos en la tabla tweets en Postgres\n*(6). Cargamos los datos en la tabla tweets en Mongo\n*(7). Cargamos los datos en la tabla tweets en MySQL","zIndex":0,"width":776.0,"height":216.0,"style":{"font-size":"22px"},"componentType":"LABEL","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"7da5526e-19d6-3845-83fb-27d2b03853c8","instanceIdentifier":"45877c29-2e5d-36dc-66fd-ce34097eb864","position":{"x":312.0,"y":624.0},"label":"Cargamos datos en la tabla tweets\nen Mongo","zIndex":0,"width":192.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"a41c59f3-f9fb-30d7-9c0c-dd9d2eef96d3","instanceIdentifier":"48327d94-d86e-31e4-40cc-92bcf29e112a","position":{"x":432.0,"y":360.0},"label":"*(7)","zIndex":0,"width":64.0,"height":48.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"c20a0fa8-1ba4-3ac4-a276-2dc99151858c","instanceIdentifier":"02e5026c-2523-34b0-967c-128b6d287fc7","position":{"x":40.0,"y":-424.0},"label":"*(2)","zIndex":0,"width":64.0,"height":48.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"70fae96a-8515-3501-bb4b-569d91fd8b0a","instanceIdentifier":"8480041b-dad2-34aa-74e5-bd657fcc3061","position":{"x":680.0,"y":320.0},"label":"Cargamos datos en la tabla tweets\nen MySQL","zIndex":0,"width":200.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"18a6e121-6e3b-3884-81f8-c7f755f3b1f6","instanceIdentifier":"74758191-4ef4-3d26-0a26-fdc3e82e7b2a","position":{"x":88.0,"y":360.0},"label":"*(5)","zIndex":0,"width":64.0,"height":48.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"0ca96bb2-fb40-3e3a-92d6-10c9c588d8fe","instanceIdentifier":"eaf9157f-1617-3a87-fbb4-7d7b2b324ee7","position":{"x":480.0,"y":-680.0},"label":"Cogemos el archivo CSV desde un directorio local","zIndex":0,"width":304.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"796df85d-954c-32e9-a7ee-d4896f18679b","instanceIdentifier":"fed59940-e8c7-3fa1-0da6-d713b2422500","position":{"x":40.0,"y":-680.0},"label":"*(1)","zIndex":0,"width":64.0,"height":48.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"d3176374-df8f-3d84-b9db-ca125136558d","instanceIdentifier":"69b03347-d75e-3ea8-fb4a-2565d9a770a0","position":{"x":40.0,"y":128.0},"label":"*(4)","zIndex":0,"width":64.0,"height":48.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"b1427b94-04d7-3d26-9775-b4ea2d8ca053","instanceIdentifier":"cc9f71dc-6bb5-3ab1-8999-1033b27406b5","position":{"x":472.0,"y":-424.0},"label":"Creamos la tabla tweets, si no existe,  en Postgres","zIndex":0,"width":336.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"a872dab6-5af4-3f25-8673-228811fb0258","instanceIdentifier":"4b46101f-8078-3c0a-dbbd-64d585d01c12","position":{"x":472.0,"y":-152.0},"label":"Creamos la tabla tweets, si no existe,  en MySQL","zIndex":0,"width":336.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"ef979971-16b2-34d2-8c0d-ef21515dc8e3","instanceIdentifier":"26a25e9d-7e1c-3948-a8b5-4d298dcbfee7","position":{"x":112.0,"y":616.0},"label":"*(6)","zIndex":0,"width":64.0,"height":48.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"}],"funnels":[{"identifier":"643cbb82-274e-3084-b2a3-bace785b82f8","instanceIdentifier":"3aa09df1-8bce-36fa-2b95-91780ad89be1","position":{"x":264.0,"y":904.0},"componentType":"FUNNEL","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"d0fc0322-91a9-3efa-8a98-503da227170c","instanceIdentifier":"7e1bd246-1a15-3824-658a-3b306d074674","position":{"x":656.0,"y":616.0},"componentType":"FUNNEL","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"c0c98f69-0643-30df-8609-07327cced0ad","instanceIdentifier":"e17c06e3-d5c0-367b-2f1c-c979bd7fb670","position":{"x":-120.0,"y":608.0},"componentType":"FUNNEL","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"}],"controllerServices":[{"identifier":"1ac44b4b-429b-3422-9cd6-52d29fb90f27","instanceIdentifier":"05ffb8c3-4d26-3832-0b1e-6ef5a8ecab15","name":"MongoDBControllerService_GR02","comments":"","type":"org.apache.nifi.mongodb.MongoDBControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-services-nar","version":"2.0.0-M2"},"properties":{"ssl-context-service":null,"ssl-client-auth":"REQUIRED","Database User":"admin","mongo-uri":"mongodb://admin:admin@mongo:27017","mongo-write-concern":"ACKNOWLEDGED"},"propertyDescriptors":{"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ssl-client-auth":{"name":"ssl-client-auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mongo-uri":{"name":"mongo-uri","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"mongo-write-concern":{"name":"mongo-write-concern","displayName":"Write Concern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.mongodb.MongoDBClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-client-service-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"1a19efa0-fda1-3449-b4fd-e9b2e7a6d343","instanceIdentifier":"1e2e5096-490a-3597-211b-517f1dfa9b2f","name":"CSVRecordSetWriter_GR02","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M2"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"bc2eee3f-e57e-38a2-8220-24a14f29788f","instanceIdentifier":"81b7cb52-2554-3d01-8ad4-b80558d2bfa3","name":"DBCPConnectionPool_GR02_para_MySQL","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.0.0-M2"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.mysql.jdbc.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:mysql://mysql:3306","dbcp-time-between-eviction-runs":"-1","Database User":"root","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/lib/mysql-connector-j-8.3.0.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"cdae3887-ef67-349a-8bac-2ad56526ed3b","instanceIdentifier":"4a2e1a84-d2c2-34a8-a293-79f84a61b497","name":"DBCPConnectionPool_GR02_para_Postgres","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.0.0-M2"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://db:5432/postgres","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/lib/postgresql-42.7.2.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"3f9ba1bb-f254-381f-ba79-4e0cba46fe4c","instanceIdentifier":"c0f617b6-2fd5-346b-9f6d-4a2ceaacc20c","name":"JsonTreeReader_GR02","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M2"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"e9c6568d-2d27-3893-871e-02a437a30f0e","instanceIdentifier":"d6752325-aea1-327a-d8a2-05486b9de68d","name":"CSVReader_GR02","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M2"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"},{"identifier":"9d33b92e-8463-34a5-a2df-a34adef5d0b5","instanceIdentifier":"12f38271-cae6-3da1-5cc1-e65dc4a337ca","name":"JsonRecordSetWriter_GR02","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M2"},"properties":{"schema-reference-reader":null,"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d8ae2b7c-5daf-3abd-b0f4-78a568952ad1"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"81372cb3-af6b-399a-aa8f-f2eb6ca3aa48"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}